<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{% block mainmenu %}
<ul>
{% for m in menu %}
    <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
    {% if request.user.is_authenticated %}
    <li> {{user.author_name }} | <a href="{% url 'logout' %}"> Выйти </a></li>
    {% else %}
    <li><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
    {% endif %}
</ul>

<br>
<br>
<h1>{{title}}</h1>
{% endblock mainmenu %}

{% block content %}
{% endblock %}
<br>
<br>
<br>
{% if page_obj.has_other_pages %}
<ul>
    {% if page_obj.has_previous %}
<li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
{% endif %}
    {% for p in paginator.page_range %}
    {% if page_obj.number == p %}
    <li> {{ p }} </li>
    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
    <li><a href="?page={{p}}"> {{ p }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
<li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
    {% endif %}
</ul>
{% endif %}

<br>
<br>
<br>
<tr><td>
	<div>
		<p>Footer.</p>
	</div>
</td></tr></table>
</body>
</html>
