{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<h1>{{post.title}}</h1>
{% if post.photo %}
<p><img src="{{ post.image_url }}" alt="", width="420" height="280"></p>
{% else %}
<p> <img src="{% static 'images/no_image.jpg' %}" alt="", width="420" height="280"></p>
{% endif %}
<p>{{ post.content|linebreaks|truncatewords:50 }}</p>
<p> Автор: {{post.author_name }}
        <p>Категория: {{post.category}}</p>
	<p>Дата: {{post.pub_date|date:"d-m-Y H:i:s"}}</p>

<br>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="post_like" value="{{ post.id }}">Like</button> - {{ total_rating }} - likes
</form>
<br>
<br>
<br>

<p><h2>Комментарии</h2></p>
<br><br>
<br>
{% if not post.comment.all %}
<p><h2>Комментариев нет</h2></p>
{% else %}
{% for c in post.comment.all %}
<p><h2>{{ c.author_name }}</h2></p>
<p>{{ c.comment }}</p>
<p>{{ c.date_create }}</p>
{% endfor %}
{% endif %}

<br>
<br>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить комментарий</button>

{% endblock %}
